@import url(variables.less);
@import url(normalise.less); 
table{
	border-collapse: collapse;
	padding: 0;
}
pre{
	background: #ccc;
	padding: 5px 10px;
	font-size: 16px;
	display: inline;
}
a{
	color: #00B7FF;
}